{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Room</th>
            <th scope="col">Requester</th>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Purpose</th>
            <th scope="col">Actions</th> <!-- Added column for actions -->
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations_list %}
            <tr>
                <td><img src="/static/assets/room-thumbnails/{{ reservation.picture_name }}"  alt="picture of {{ reservation.room_name }}" height="100" width="100">{{ reservation.room_name }}</td>
                <td>{{ reservation.user_name }}</td>
                <td>{{ reservation.res_date }}</td>
                <td>{{ reservation.beg_time }}</td>
                <td>{{ reservation.end_time }}</td>
                <td>{{ reservation.purpose }}</td>
                <td>
                    <button class="btn btn-danger">Deny</button> <!-- Deny button -->
                    <button class="btn btn-success">Approve</button> <!-- Approve button -->
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}