
html {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    text-align: center;
    padding: 2%;
    background-color: ghostwhite;
    margin-top: 0;
}

h2 {
    text-align: left;
    padding: 2%;
}

.form {
    display: block;
    margin: auto;
<<<<<<< HEAD
    max-width: 500px;
}




.float-right {
    display: block;
    width: 70%;
    float: right;
    /* margin-right: 10%; */
}

.float-left {
    display: block;
    float: left;
    width: 30%;

    /* margin-left: 10%; */


=======


#room-request-form {
    line-height: 2;
    width: 70%
}

.form-inline label {
    padding-right: 2.5em
>>>>>>> 47cbb534025475fff2cbfd7bbf1321862f1911a9
}

#room-request-form {
    line-height: 2;
    width: 70%
}

.form-inline label {
    padding-right: 2.5em
}