html {
    font-family: Verdana, sans-serif;
    margin-bottom: 10em;
}

h1 {
    text-align: center;
    padding: 2%;
    background-color: ghostwhite;
    margin-top: 0;
}

h2 {
    text-align: center;
    padding: 2%;
}

.form {
    display: block;
    margin: auto;
    width: 50%;
}

.float-right {
    display: block;
    width: 70%;
    float: right;
    /* margin-right: 10%; */
}

.float-left {
    display: block;
    float: left;
    width: 30%;
}

.table {
    width: 70%;
    margin: auto;
}


/* make the arrangement photos clickable as buttons */
#arrangements img {
    border-radius: 15px;
}
#arrangements input[type=radio] {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-left: 40px;
}
.img-container {
    position: relative;
    display: inline-block;
    text-align: center;
    outline: 1px solid #6c757d;
    border-radius: 15px;
    margin-right: 40px;
}
#arrangements input[type=radio]:checked+img { /* targets the image corresponding to the checked button */
    outline: 2px solid #0d6efd;
}


/* adding specific whitespace in the forms page */
#room-request-form {
    line-height: 2;
    width: 70%
}
.checkbox, .form-inline {
    margin: 0;
}
.form-inline {
    padding-bottom: 15px;
}
.form-inline label {
    padding-right: 2.5em;
}