html {font-family: Verdana, sans-serif;}

h1 {
    text-align: center;
    padding: 2%;
    background-color: ghostwhite;
    margin-top: 0;
}

h2 {
    text-align: left;
    padding: 2%;
}

.form {
    display: block;
    margin: auto;
    max-width: 500px;
}

.float-right {
    display: block;
    width: 70%;
    float: right;
    /* margin-right: 10%; */
}

.float-left {
    display: block;
    float: left;
    width: 30%;
}

#room-request-form {
    line-height: 2;
    width: 70%
}

.form-inline label {
    padding-right: 2.5em
}
