{% extends "base.html" %}

{% block title %}My Account{% endblock %}


{% block content %}
    <h1 class="mt-4">My Account</h1>
    <div class="wrapper">
        <section class="account-info-section float-left">
            <ul class="list-group list-group-flush"> 
                <li class="list-group-item">{{ g.user['First_Name'] }} {{ g.user['Last_Name'] }}</li>
                <li class="list-group-item">{{ g.user['Email'] }}</li>
                <li class="list-group-item"><b>Location</b> | Diocese of Joliet</li>
                <li class="list-group-item"><b>Organization</b> | {{ org_name }}</li>
                <li class="list-group-item"><a href="">View Reservation History</a></li>
                <li class="list-group-item"><a href="{{ url_for('form.index') }}">Request Space</a></li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Join an Organization</button>
                <div class="dropdown-menu">
                    <form class="form" method="post">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="none">-- Select Organization</option>
                                <option value="CatholicCharities">Catholic Charities</option>
                                <option value="CouncilofCatholicWomen">Council of Catholic Women</option>
                                <option value="DioceseofJoliet">Diocese of Joliet</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea rows="4" cols="30" placeholder="Position/Role in Organization (i.e. Secretary)"></textarea>
                        </div>
                        <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Request to Join">
                        </div>
                    </form>
                </div>
            </div>
        
        </section>

        <secion class="account-reservation-section float-right">
            <h2>Pending Reservations</h2>
            <p>You have no Pending Rervations</p>
            <h2>Approved Reservations</h2>
            <p>You have no Pending Rervations</p>
        </secion>
    </div>
{% endblock %}