<!--Flask-Bootstrap comes with its own base.html, 
but we should still create a custom base.html for 
further customization-->
{% extends "bootstrap/base.html" %}  

<!--set default title-->
{% block title %} Roomie {% endblock %}     

<!--Fixes for legacy browers (Macros)-->
{% import "bootstrap/fixes.html" as fixes %}

<!--Apply fixes-->
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

<!--Add our custom CSS files here-->
{% block styles %}
    {{super()}} 
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
{% endblock %}


<!--Add navigation -->
{% block navbar %}
    <nav class="navbar navbar-inverse" style="margin-bottom: 0;">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('form.index') }}">Roomie</a>
        </div>
        <ul class="nav navbar-nav">
            <!--Will need to work on this further, find a good way to highlight the current page in nav. -->
            <!-- {% block active_page %}<li class="active"><a href="{{ url_for('form.index') }}">Home</a></li>{% endblock %} -->

            <!--dropdown is just here for demo purposes-->
            <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li> -->
                {% if g.user %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li><a href="{{url_for('auth.myaccount') }}">My Account</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
        </div>
    </nav>
{% endblock %}


<section>
{% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
{% endfor %}
</section>