{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Home{% endblock %}

{% block content %}
    <h2> Search for a Room</h2>

    <form class="form" method="POST">
        <div class="form-group">
            <div class="form-inline">{{ wtf.form_field(form.date) }}</div>
            <div class="form-inline">{{ wtf.form_field(form.start_time) }}</div>
            <div class="form-inline">{{ wtf.form_field(form.end_time) }}</div>
            <div class="form-inline">{{ wtf.form_field(form.attendees) }}</div>
        </div>  
        {{ wtf.form_field(form.submit, class="btn btn-primary") }}
    </form>
{% endblock %}